@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap');
@import url('base.css');
@import url('header.css');
@import url('hero.css');
@import url('features.css');
@import url('services.css');
@import url('how-it-works.css');
@import url('testimonials.css');
@import url('team.css');
@import url('cta.css'); 
@import url('footer.css');
@import url('responsive.css');
@import url('about.css');
@import url('prabha.css');
/* @import url('layout.css'); */
