.what_is_it{
    padding: 120px 0;
}
.objectives{
    padding: 120px 0;
}
.steps{
    padding: 50px 0;
}
.features{
    padding: 120px 0;
}
.steps{
    padding: 50px 0;
}
.benefits{
    padding: 120px 0;
}
.steps{
    padding: 50px 0;
}
.benefits{
    padding: 120px 0;
}
.steps{
    padding: 50px 0;
}